@import "@styles/variables";
@import "@styles/breakpoints";

.credit {
    background: #fff;
    color: $background-color;
    text-align: center;
    font-weight: $font-weight-light;
    font-size: 0.8rem;
    padding: 1rem;
}

@include screen-under($breakpoint-sm) {
    .credit {
        font-size: 0.75rem;
    }
}
