@import '@styles/variables';
@import '@styles/mixins';

.servicesSection {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    @media screen and (width <= 320px) {
        padding: 5rem 1rem;
    }

    h2 {
        text-align: end;
        font-size: 2.5rem;
        font-weight: $font-weight-medium;
        padding-bottom: 2rem;

        .strong {
            color: $primary-color;
        }

        @media screen and (width <= 320px) {
            font-size: 1.5rem;
        }
    }

    .services {
        display: flex;
        justify-content: space-between;

        @media screen and (width <= 768px) {
            flex-direction: column;
        }

        .cardContainer {
            display: flex;
            align-items: center;
            gap: 1rem;

            @media screen and (width <= 768px) {
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
            }

            @media screen and (width <= 320px) {
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
            }

            .col1Container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }


            .backside {
                @include absolute-fill;

                backface-visibility: hidden;
                transform: rotateX(-180deg);
                transition: all 1s;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                outline: 1px solid $primary-color;

                .description {
                    font-weight: $font-weight-light;
                    font-size: 0.9rem;
                }
            }

            .frontside {
                backface-visibility: hidden;
                border-radius: 5px;
                align-items: center;
                background-color: $card-background;
                padding: 2rem 1rem;
                transition: all 1s;

                &.notBigScreen {
                    display: none;
                }

                .cardIcon {
                    width: 5rem;
                    height: 5rem;

                    &.mobile {
                        color: $mobile-dev-color;
                    }

                    &.design {
                        color: $design-color;
                    }

                    &.web {
                        color: $web-dev-color;
                    }
                }

                h3 {
                    font-weight: $font-weight-regular;
                    font-size: 2rem;
                }

                p {
                    font-weight: $font-weight-light;
                }

                @media screen and (width <= 768px) {
                    &.bigScreen {
                        display: none;
                    }

                    &.notBigScreen {
                        display: block;
                    }
                }

                @media screen and (width <= 320px) {
                    h3 {
                        font-size: 1.25rem;
                    }

                    p {
                        font-size: 0.85rem;
                    }
                }
            }

            .card {
                position: relative;

                &:hover {
                    .frontside {
                        transform: rotateX(180deg);
                    }

                    .backside {
                        transform: rotateX(0deg);
                    }
                }
            }
        }

        .imgContainer {
            width: 40%;
            text-align: end;

            .servicesImg {
                width: 100%;
            }

            @media screen and (width <= 768px) {
                display: none;
            }
        }
    }
}
