@import '@styles/variables';
@import "@styles/breakpoints";

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:active {
        transform: scale(0.95);
    }

    &.primary {
        font-weight: $font-weight-medium;
        background-color: $primary-color;
        color: $background-color;
    }
}

.homeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: linear-gradient(
                    180deg,
                    $background-color 0%,
                    $lighter-background-color 100%
    );
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.hi {
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.7;
    letter-spacing: 2px;
}

.name {
    font-size: 16rem;
    color: $primary-color;
}

.work {
    font-weight: normal;
    font-size: 2rem;
    opacity: 0.8;
    letter-spacing: 2px;
    text-align: center;
}

.scrollDownBtn {
    padding: 0;
    margin: 0 0 1rem;
    background: none;
    color: white;
    opacity: .8;
    transition: opacity 0.3s;

    &:hover, &:focus, &:active {
        transform: none;
        opacity: 1;
    }
}

.scrollDownBtn.scrollDownBtnHidden {
    opacity: 0;
}

.ctaContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@include screen-under($breakpoint-lg) {
    .name {
        font-size: 6rem;
    }

    .work {
        font-size: 1.5rem;
    }
}

@include screen-under($breakpoint-sm) {
    .name {
        font-size: 4rem;
    }

    .work {
        font-size: 1rem;
    }
}