@import '@styles/variables';

.testimonialSection {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    height: 100vh;

    @media screen and (width <= 320px) {
        padding: 5rem 0.5rem;
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: $font-weight-medium;
        padding-bottom: 2rem;

        strong {
            color: $primary-color;
        }

        @media screen and (width <= 320px) {
            font-size: 1.5rem;
        }
    }

    .testimonials {
        user-select: none;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;

        .testimonialContainer {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .testimonialItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 70%;
            padding: 1.5rem 1rem;
            background-color: $card-background;

            .profileImg {
                width: 6rem;
            }

            .body {
                font-weight: $font-weight-light;
                width: 80%;
                text-align: center;
            }

            .credit {
                text-align: center;

                .by {
                    font-weight: $font-weight-semi-bold;
                }

                .relation {
                    font-weight: $font-weight-light;
                }
            }

            @media screen and (width <= 640px) {
                flex-grow: 1;
            }

            @media screen and (width <= 320px) {
                flex-grow: 1;
                margin: 0 0.25rem;

                .profileImg {
                    width: 4rem;
                }

                .body {
                    width: 100%;
                    font-size: 0.8rem;
                }

                .credit {
                    .by {
                        font-size: 0.85rem;
                    }

                    .relation {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}
