@import '@styles/variables';

.testimonialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 100vh;

    @media screen and (width <= 320px) {
        padding: 5rem 0.5rem;
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: $font-weight-medium;

        strong {
            color: $primary-color;
        }

        @media screen and (width <= 320px) {
            font-size: 1.5rem;
        }
    }

    .testimonials {
        overflow-x: auto;
        user-select: none;
        padding: 1rem;
        width: 100%;
    }
}
