@import "@/style/variables";
@import "@/style/breakpoints";

.testimonialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testimonialItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
    padding: 1.5rem 1rem;
    background-color: $card-background;
}

.testimonialItem img.profileImg {
    width: 6rem;
}

.body {
    font-weight: $font-weight-light;
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
}

.credit {
    text-align: center;
    font-size: 1.3rem;

    .by {
        font-weight: $font-weight-semi-bold;
    }

    .relation {
        font-weight: $font-weight-light;
    }
}

@include screen-under($breakpoint-md) {
    .testimonialItem {
        flex-grow: 1;
    }
}

@include screen-under($breakpoint-sm) {
    .testimonialItem {
        flex-grow: 1;
        margin: 0 0.25rem;
    }

    .profileImg {
        width: 4rem;
    }

    .body {
        width: 100%;
        font-size: 1.2rem;
    }

    .credit {
        .by {
            font-size: 1.36rem;
        }

        .relation {
            font-size: 1.36rem;
        }
    }
}