@import "@/style/variables";
@import "@/style/mixins";


@media screen and (width > 768px) {
    .hideOnWideScreen {
        display: none;
    }
}

@media screen and (width <= 768px) {
    .hideOnSmallScreen {
        display: none;
    }
}

.backside {
    @include absolute-fill;

    backface-visibility: hidden;
    transform: rotateX(-180deg);
    transition: all 1s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    outline: 1px solid $primary-color;

    .description {
        font-weight: $font-weight-light;
        font-size: 0.9rem;
    }
}

.frontside {
    backface-visibility: hidden;
    border-radius: 5px;
    align-items: center;
    background-color: $card-background;
    padding: 2rem 1rem;
    transition: all 1s;


    .cardIcon {
        width: 5rem;
        height: 5rem;

        &.mobile {
            color: $mobile-dev-color;
        }

        &.design {
            color: $design-color;
        }

        &.web {
            color: $web-dev-color;
        }
    }

    h3 {
        font-weight: $font-weight-regular;
        font-size: 2rem;
    }

    p {
        font-weight: $font-weight-light;
    }


    @media screen and (width <= 320px) {
        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 0.85rem;
        }
    }
}

.card {
    position: relative;

    &:hover {
        .frontside {
            transform: rotateX(180deg);
        }

        .backside {
            transform: rotateX(0deg);
        }
    }
}

