@import '@styles/variables';
@import '@styles/animations';
@import '@styles/breakpoints';

.aboutSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
                    180deg,
                    $lighter-background-color 0%,
                    $background-color 100%
    );
}

.aboutSection {
    max-width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 100px 100px;
}

.aboutSection .imgContainer {
    text-align: center;
    min-width: 50%;
    height: 50rem;

    .aboutImg {
        height: 100%;
        width: 75%;
    }
}

.aboutSection .aboutText {
    text-align: center;
}

.aboutTitle {
    font-size: 4rem;
    font-weight: $font-weight-medium;
    transition: all 0.3s ease;

    .love {
        font-weight: $font-weight-bold;
        color: pink;
    }

    .code {
        font-weight: $font-weight-bold;
    }
}

@include screen-under($breakpoint-sm) {
    .aboutSection {
        padding: 5rem 1rem;
        flex-direction: column;
        justify-content: center;
    }

    .aboutTitle {
        font-size: 3rem;
    }
}

@include screen-under($breakpoint-md) {
    .aboutSection .imgContainer {
        width: 100%;
        height: auto;
    }

    .aboutSection .imgContainer .aboutImg {
        width: 100%;
    }

    .aboutSection {
        padding: 5rem 2rem;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

}


