@import "variables.module.scss";

$lighter-bg-color: lighten($lighter-background-color, 20%);

@keyframes glow {
  0% {
    box-shadow: 0 0 .5rem $lighter-bg-color;
  }
  50% {
    box-shadow: 0 0 .75rem $lighter-bg-color;
  }
  100% {
    box-shadow: 0 0 .5rem $lighter-bg-color;
  }
}

@keyframes text_glow {
  0% {
    text-shadow: 0 0 10px $primary-color;
  }
  50% {
    text-shadow: 0 0 20px $primary-color;
  }
  100% {
    text-shadow: 0 0 10px $primary-color;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}