@import 'variables';

$lighter-bg-color: lighten($lighter-background-color, 20%);

@keyframes glow {
    0% {
        box-shadow: 0 0 0.5rem $lighter-bg-color;
    }

    50% {
        box-shadow: 0 0 0.75rem $lighter-bg-color;
    }

    100% {
        box-shadow: 0 0 0.5rem $lighter-bg-color;
    }
}


@keyframes slide-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
