@import "@styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  transition: padding 0.5s;

  &.stick {
    width: calc(100% - 4rem);
    padding: 2rem;
    background-color: #221f48;
    position: fixed;
    top: 0;
    height: auto;
    z-index: 1000;

    &.show {
      transition: transform 0.8s, opacity 0.5s;
      opacity: 1;
      transform: translateY(0%);
    }

    &.totalHide {
      display: none;
    }

    &.hide {
      transition: transform 0.8s, opacity 0.5s;
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  .logoTitle {
    color: $primary-color;
    font-family: $font-family-logo;
    font-weight: $font-weight-regular;
    font-size: 2rem;
  }

  .navbarLinkContainer {
    display: flex;
    flex-direction: column;

    .optionButtonHamburger {
      align-self: center;
      justify-self: flex-end;
    }

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 1.5rem;

      li {
        cursor: pointer;
        color: $inactive-navbar-link-color;
        width: fit-content;
        transition: all 0.5s;

        &.active {
          color: $active-navbar-link-color;
        }

        &:hover {
          color: $secondary-color;
        }

        &.hireMe {
          color: $primary-color;
          border: 2px solid white;
          padding: 0.25rem 1rem;
          border-radius: 5rem;

          &:hover {
            background-color: $primary-color;
            color: $background-color;
            border-color: $primary-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 2rem;

    &.stick {
      width: calc(100% - 4rem);
    }

    .logoTitle {
      h1 {
        font-size: 1.5rem;
        font-weight: $font-weight-light;
      }
    }

    .navbarLinkContainer {
      ul {
        font-size: 0.9rem;
        font-weight: $font-weight-light;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  header {
    padding: 1rem;

    &.stick {
      width: calc(100% - 2rem);
    }

    .logoTitle {
      h1 {
        font-size: 1.25rem;
        font-weight: $font-weight-light;
      }
    }

    .navbarLinkContainer {
      ul {
      }
    }
  }
}

@media screen and (min-width: 641px) {
  header {
    .optionButton {
      display: none;
    }
  }
}

@media screen and (max-width: 641px) {
  header {
    // position: relative;
    .optionButton {
      display: flex;
    }

    & > .optionButton.close {
      flex-grow: 1;
    }

    .navbarLinkContainer {
      position: relative;
      z-index: $navBarUlZIndex;
      background-color: $background-color;
      flex-direction: column;
      justify-content: space-around;

      &.expanded {
        .menu {
          animation: expand_animation 0.5s;
        }
      }

      &.collapsed {
        .menu {
          animation: collapse_animation 0.5s;
        }
      }

      &.hidden {
        display: none;
      }

      .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 1rem;
        overflow: hidden;
        border-radius: 0 0 20px 20px;

        .optionButton {
          align-self: flex-end;
        }

        ul {
          justify-content: space-around;
          background-color: #221f48e0;
          flex-direction: column;
          padding: 1rem;

          & > li {
            padding-left: 5rem;
            padding-right: 5rem;
          }
        }
      }
    }
  }
}

@keyframes expand_animation {
  0% {
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

@keyframes collapse_animation {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
  }
}
