@import '@styles/variables';
@import '@styles/breakpoints';

.projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 5rem;
}

.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    max-width: min(100rem, 100%);
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: $font-weight-medium;
    transition: all 0.3s ease;

    strong {
        color: $primary-color;
    }
}

.projectList {
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
    user-select: none;

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: white;
        outline: none;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: white;
    }

}

@include screen-under($breakpoint-md) {
    .title {
        font-size: 3rem;
    }

    .projectSection {
        padding: 5rem 1rem;
    }

}

@include screen-under($breakpoint-sm) {
    .projectSection {
        padding: 5rem 0.25rem;
    }

    .title {
        font-size: 2rem;
    }
}
