@import '@styles/variables';
@import '@styles/breakpoints';

.contactSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    align-self: center;
    font-size: 5rem;
    color: $primary-color;
}

.content {
    flex-grow: 1;
    padding: 3rem;
    display: flex;
    gap: 1rem;
}

.contactImg {
    margin: auto;
    width: 40%;
}


@include screen-under($breakpoint-md) {
    .content {
        flex-direction: column;
        padding: 1.5rem;
        margin-bottom: 4rem;
    }

    .contactImg {
        width: 80%;
        display: none;
    }
}

@include screen-under($breakpoint-sm) {
    .content {
        padding: 1rem;
    }
}
